<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DiscoveryActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecipeDetailsActivity"
            android:parentActivityName=".activity.DiscoveryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bakingapp.activity.DiscoveryActivity" />
        </activity>

        <provider
            android:name=".data.MoviesProvider"
            android:authorities="com.example.android.bakingapp.data.provider"
            android:exported="false" />

        <activity
            android:name=".activity.StepListActivity"
            android:label="@string/title_step_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.StepDetailActivity"
            android:label="@string/title_step_detail"
            android:parentActivityName=".activity.StepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bakingapp.activity.StepListActivity" />
        </activity>
    </application>

</manifest>